<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>this is About</h1>
    <hr>
    
<div class="host-tag" th:insert="${islogin} ? ~{base :: parent(~{:: .one})} : ~{base :: test(~{  :: #notlog})}">
<section class="one">
    <h1>you are logged In </h1>
    <p>
        this is me section
    </p>
</section>

<section id="notlog">
    <h1> not logged In</h1>
</section>

</div>
    
</body>
</html> 