<!DOCTYPE html>

    <h1 class="font-bold">This is for common Navbar if not working</h1>

<html
class=""

lang="en"
th:fragment="par(content , title , script)"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    
    <title data-th-replace="${title}">Base page</title>
    <link rel="stylesheet" data-th-href ="@{'/css/output.css'}">
</head>
<body>
    <!-- Common header -->
<div data-th-replace="~{nav :: navbar}" class="p-1 m-1">

    <h1 class="font-bold">This is for common Navbar if not working</h1>

</div>




<div class="p-52 m-7" >
    <section  data-th-replace="${content}"></section>
</div>
    
<!-- fotter common -->
 <footer class="p-4"> this is fotter </footer>


</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<th:block data-th-replace="${script}"></th:block>

</html>