<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page1</title>
</head>
<style>
    .container{
        margin: auto;
        width: 50%;
        padding: 30px;
        background: #e2e2e2;
    }
</style>
<body>
    <div class="container">
        <h1>welocme to shive page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptates consequuntur illum quo quasi molestias excepturi, distinctio laboriosam! Deleniti nostrum illo dignissimos sequi eum perferendis ullam animi ex? Nulla quis amet pariatur aperiam quae. Beatae?
        </p>
    </div>
    
</body>
</html>